bosy {
    margin: 0;
    padding: 0;
}


#popup_produto {
    display: none;
    position: absolute;
    top: 40px;
    left: 40px;

    background-color: lightskyblue;
    padding: 20px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input, textarea {
    width: 300px;
}
